## Coletando Dados de uma Tabela com Pandas

In [1]:
from selenium import webdriver
import pandas as pd

driver = webdriver.Firefox()

In [2]:
driver.get('http://localhost:8000/#/exemplo/8')

In [11]:
from io import StringIO

string_io = StringIO(initial_value=driver.page_source)
pd.read_html(io=string_io, attrs={'id': 'tabela-usuarios'})[0]

,Avatar,Nome completo,Profissão,E-mail,Perfil,Estado
0,NaN,Valentina Pereira,Facilitador,valentina.pereira@example.org,valentina.pereira23,Pernambuco
1,NaN,Hugo Costa,Associado,hugo_costa66@example.org,hugo_costa,Ceará
2,NaN,Natália Batista,Designer,natalia_batista@example.net,natalia_batista,Sergipe
3,NaN,Karla Oliveira,Administrador,karla.oliveira@example.net,karla.oliveira,Mato Grosso do Sul
4,NaN,Leonardo Franco,Agente,leonardo_franco65@example.org,leonardo.franco,Paraná
5,NaN,Júlio César Batista,Policial,juliocesar_batista13@example.org,juliocesar.batista99,Amazonas
6,NaN,Cauã Carvalho,Representante,caua_carvalho@example.net,caua.carvalho,Santa Catarina
7,NaN,Benício Moreira,Desenvolvedor,benicio_moreira@example.com,benicio.moreira73,Amazonas
8,NaN,Emanuel Franco,Estrategista,emanuel_franco@example.org,emanuel_franco,Rio Grande do Norte
9,NaN,Alícia Franco,Especialista,alicia_franco@example.com,alicia_franco,Rio Grande do Sul

In [ ]:
pd.read_html(io=driver.page_source, attrs={'id': 'tabela-usuarios'})[0]